<!DOCTYPE html>

<html>
  <body>
    <img id="output" width="400" height="400"/><br>
    <input id="img_in" type="file" accept="image/*" onchange="loadFile(event)"><br>
    <div id="app">
      <p id="p1">Prediction: {{ prediction }}</p>
      <p id="p2">Confidence: {{ conf }}</p>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"> </script>
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        prediction: '',
        conf: ''
      }
    })
  </script>
  <script>
    var loadFile = function(event) {
      var output = document.getElementById('output');
      output.src = URL.createObjectURL(event.target.files[0]);
      output.onload = function() {
        URL.revokeObjectURL(output.src)
      }
      //document.getElementById("img_in").style.display = "none"
      tfjs();
    };
  </script>
  <script>
    tfjs = function(){
      const img = document.getElementById('output');
      cocoSsd.load().then(model => {
        model.detect(img).then(predictions => {
          console.log('Predictions: ', predictions);
          console.log(predictions.length)
          if (predictions.length > 0){
            var node = predictions[0].class
            var node1 = String(predictions[0].score * 100)
            console.log(predictions.length)
            app.prediction = node;
            app.conf = node1;
          }else{
            console.log(predictions.length)
            app.prediction = 'empty';
            app.conf = 'empty';
          }
          
        });
      });
    }
  </script>
</html>